# OUNWAN APP
OUNWAN_APP_ORIGIN=http://localhost:3000
OUNWAN_AVATAR_API_URL=https://api.navii.dev/random?background=solid
## local / s3 / oci ...
OUNWAN_STORAGE_PROVIDER=local
OUNWAN_S3_BUCKET=
OUNWAN_S3_REGION=
## Push Notification
OUNWAN_VAPID_PUBLIC_KEY=
OUNWAN_VAPID_PRIVATE_KEY=
OUNWAN_VAPID_SUBJECT=https://ounwan.net

# DB
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Kakao Login
KAKAO_REDIRECT_URI=
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=

# [AWS][ECR] Docker Image
APP_IMAGE=
